.header {
    height: 50px;
    margin-left: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    font-family: Inter, sans-serif;
    nav {
        margin-left: 50px;
        display: flex;
        width: 25%;
        justify-content: space-between;
        a {
            text-decoration: none;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #1A1A1A;
        }
        a:active {
            text-decoration: none;
        }
    }
    img {
        width: 100px;
    }
    div {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25%;
        height: auto;
        margin-right: 100px;
        img {
            width: 20px;
        }
        :nth-child(4){
            width: 100px;
        }
    }
}